module.exports = {
    ignorePackets: [
        "PRESENCE_UPDATE",
        "PRECENCES_REPLACE",
        "TYPING_START"
    ],
    rabbit: {
        url: "amqp://127.0.0.1",
        pusher: {
            exchangeName: "gateway",
            channelName: "gateway"
        },
        commands: {
            exchangeName: "gateway-command",
            channelName: "gateway.{id}"
        }
    },
    redis: {
        url: "redis://localhost:6379"
    },
    shardIndex: 0, 
    shardInit: 1,
    shardCount: 1,
    token: "",
    logLevel: 1,
};